{% extends 'base.html' %}

{% block title %}Book a Doctor Appointment{% endblock %}

{% block content %}
<div style="color: darkblue" class="container mt-5">
    <h1 class="text-center">Book a Doctor Appointment</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Book Appointment</button>
    </form>
</div>
<script>
    $(function() {
        $("#id_appointment_date").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
{% endblock %}
